/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// Basic style
.wp-block-create-block-sretw-card {
	padding: 8px;
	border-radius: var(--card-border-radius);
	background-color: white;
	box-shadow: 0 3px 10px black;
	width: fit-content;
	height: fit-content;
	transition: all var(--card-enlarge-duration) ease-in-out;

	.title {
		padding: 4px 4px 0px 4px;
		margin-bottom: 2px;
	}
	.subtitle {
		padding: 0px 4px 0px 4px;
		margin-bottom: 8px;
	}
	.image-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

// Style when mouse hover
.wp-block-create-block-sretw-card-hover {
	// Extended from basic style
	@extend .wp-block-create-block-sretw-card;
	&:hover {
		z-index: 1;
		// scale: var(--card-enlarge-scale);
		transform: scale(var(--card-enlarge-scale));
	}
}
